<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>255554691221-67354kct4pnf6lcsp1okalfeisdqpj3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255554691221-67354kct4pnf6lcsp1okalfeisdqpj3u</string>
	<key>API_KEY</key>
	<string>AIzaSyAfjrImQ_u6aLqQrFolnGYBd9Nih2oA0G8</string>
	<key>GCM_SENDER_ID</key>
	<string>255554691221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.olajuwon.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-82ee3</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-82ee3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255554691221:ios:e72255d010ce7af7</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-82ee3.firebaseio.com</string>
</dict>
</plist>